<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>NASA Rover API Viewer</title>
  <style type="text/css">.galleria{ width: 100%; height: 300px; background: #fff}</style>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/nasa" class="brand-logo"><img src="nasa-logo.svg"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#"><b>Curiosity</b></a></li>
        <li><a href="opportunity">Opportunity</a></li>
        <li><a href="spirit">Spirit</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#"><b>Curiosity</b></a></li>
        <li><a href="opportunity">Opportunity</a></li>
        <li><a href="spirit">Spirit</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h5>Curiosity</h5>
        </div>

          <form method="post" action="/photos" id="myform">
            <div class="input-field col s12 m4">
              <i class="material-icons prefix">camera</i>
              <select id="camera" name="camera">
                <option value="FHAZ">Front Hazard Avoidance Camera</option>
                <option value="RHAZ">Rear Hazard Avoidance Camera</option>
                <option value="MAST">Mast Camera</option>
                <option value="CHEMCAM">Chemistry and Camera Complex</option>
                <option value="MAHLI">Mars Hand Lens Imager</option>
                <option value="MARDI">Mars Descent Imager</option>
                <option value="NAVCAM">Navigation Camera</option>
              </select>
              <label>Select a camera</label>
            </div>
            <div class="input-field col s12 m4">
              <i class="material-icons prefix">date_range</i>
              <input type="text" placeholder="enter Sol" id="sol" name="sol">
              <span class="helper-text" data-error="sorry, but the rover didn't take pictures that day" data-success="success" id="inputSolHelper"></span>
              <label>Select a sol</label>
            </div>

            <div class="col s12 m4">
              <a class="waves-effect waves-light btn" id="postButton">Get photos</a>
            </div>
          </form>

      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 left" id="result">
          
          <div class="galleria"></div>
        </div>
      </div>
    </div>
  </div>

 <!--  Scripts-->

  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="galleria/galleria.min.js"></script>
  <script>

       $(document).ready(function(){
         $('select').formSelect();
         M.updateTextFields();
       });
  </script>

  <script>
    $(document).ready(function(){
    var server = "https://avantesb.su/nasa";
    var rover = "curiosity";
    var json = null;

    $.ajaxSetup({
        async: false
      });

    $.getJSON(server + "/api/manifest/"+rover, function(data){
        json = data;
      });

  var sols = json.sol;
  var maxSol = json.maxSol;
  var lostSols = json.lostSols;
  var sol;
  var successSol;
  var cameras;
  var txt = $('#sol').val;
  $('#sol').attr("placeholder", "max Sol " + maxSol);

        

        function validation(text_value){
          if (text_value == "") {
            formInvalid();
          } else if(!isNumber(text_value)){
            formInvalid();
          } else if (parseInt(text_value) > maxSol){
            formInvalid();
          } else if($.inArray(text_value, lostSols) > -1) {
            formInvalid();
          } else {
              formValid(text_value);
          }
        }

        $("#sol").on("input", function(){
          
          var text=$(this).val();
          validation(text);
          
        });

        function isLetter(str) {
          return str.match(/[a-z]/i);
        }

        function isNumber(str) {
          return /^(0|[1-9]\d*)$/.test(str);
        }


        $('#sol').blur(function(){
          var text=$(this).val();
          validation(text);
        });

        function formInvalid() {
                    $("#sol").addClass("validate invalid");
                    $("#camera").prop('disabled', true);
                    $("#postButton").attr('disabled', " ");
                    $('select').formSelect();
          }

          function formValid(text_value) {
                    $("#sol").removeClass("validate invalid");
                    $("#sol").addClass("validate valid");
                    $("#camera").prop('disabled', false);
                    $("#postButton").removeAttr('disabled', " ");
                    successSol = text_value;
                    sol = jQuery.grep(sols, function (sols) {return sols.sol == successSol });
                    cameras = sol[0].cameras;
                    $("#camera option").prop('disabled', true);

                    $.each(cameras, function(index, camera){
                      $("#camera option[value="+camera+"]").prop('disabled', false);
                    });
                                        
                    $('select').formSelect();
          }

        $(function(){
        $("#postButton").bind('click', function(){
            $.post(server + "/api/data?rover="+rover, $("#myform").serialize(),
                function(image) {
                       Galleria.run('.galleria', {
                       dataSource: image
                       });
                        
                });
        });
    });

    });
  </script>
 
  <script language = "JavaScript">

    Galleria.loadTheme('galleria/themes/azur/galleria.azur.min.js');
    Galleria.configure({
    thumbnails:'lazy',
    });

    Galleria.ready(function(){
    this.lazyLoadChunks(3, 1000);
    });

    Galleria.run('.galleria');

  </script>

  </body>
</html>
