!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TitlePhoto</title>
</head>
<body>
<form method="post" action="http://localhost:8080/web/photos">
    <p>
        <label for="camera">Выберите камеру:</label>
        <select id="camera" name="camera">
            <option value="FHAZ">Front Hazard Avoidance Camera</option>
            <option value="RHAZ">Rear Hazard Avoidance Camera</option>
            <option value="MAST">Mast Camera</option>
            <option value="CHEMCAM">Chemistry and Camera Complex</option>
            <option value="MAHLI">Mars Hand Lens Imager</option>
            <option value="MARDI">Mars Descent Imager</option>
            <option value="NAVCAM">Navigation Camera</option>
        </select>
    </p>
    <p><input type="text" name="sol" placeholder="Sol"/></p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>
<div>

        <img th:each="photo : ${photos}" th:src="${photo.getImg_src}" />
</div>


</body>
</html>