<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Документ без названия</title>
    <style type="text/css">
    .galleria{ width: 1024px; height: 768px; background: #fff}
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script src="/galleria/galleria.min.js"></script>
</head>
<body>
<form method="post" action="/photos">
    <p>
        <label for="camera">Выберите камеру:</label>
        <select id="camera" name="camera" onchange="if (this.selectedIndex) this.form.submit ()">
            <option value="FHAZ">Front Hazard Avoidance Camera</option>
            <option value="RHAZ">Rear Hazard Avoidance Camera</option>
            <option value="MAST">Mast Camera</option>
            <option value="CHEMCAM">Chemistry and Camera Complex</option>
            <option value="MAHLI">Mars Hand Lens Imager</option>
            <option value="MARDI">Mars Descent Imager</option>
            <option value="NAVCAM">Navigation Camera</option>
        </select>
    </p>
    <p><input type="text" name="sol" th:value="${sol}" /></p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>
<div>
    <p>количество фото <br th:text="${#lists.size(photos)}"></br></p>
    <p>Rover <br th:text="${manifest.getName}"></br></p>
    <p>Max Sol <br th:text="${manifest.getMaxSol}"></br></p>


</div>
<div class="galleria">
<!--        <img th:each="photo : ${photos}" th:src="${photo.getImg_src}" />-->
<!--&lt;!&ndash;    <img src="2.png">&ndash;&gt;-->
</div>
<script language = "JavaScript" th:inline="javascript">


            var data = [
            /*[# th:each="photo : ${photos}"]*/
            {
                image: '[(${photo.getImg_src})]'
            },
             /*[/]*/
            ];


            Galleria.loadTheme('/galleria/themes/azur/galleria.azur.min.js');
            Galleria.configure({
            thumbnails:'lazy',
            dataSource:data
            });

            Galleria.ready(function(){
            this.lazyLoadChunks(3, 1000);
            });

            Galleria.run('.galleria');
</script>



</body>
</html>